.link {
    color: white; 
    background-color: turquoise; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-block; 
}

.link:hover {
    background-color: #46a097; 
    text-decoration: none;
    color: white;
}

.highlight {
    font-size: 1.5em; 
    font-weight: bold; 
}

.form-inline{
    margin: 0 auto;
    
}